p
{
text-align: left;
}
#para1
{
color: black;
background-color:#bfbff2;
}
.center
{
color :grey;
background-color:#b3ffff;
}

*
{
text-align: left;
background-color: white;
}
h1,h2
{
text-align: left;
color: black;
background-color:#FF00FF;
}
p
{
text-align: justify;
}
.second
{
text-align: justify;
background-color:#ffe6f2;
}
#para2
{
color:#009999;
}
